<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false" scanPeriod="10 seconds">
	<jmxConfigurator/>
	
    <appender name="Stdout-Appender" class="ch.qos.logback.core.ConsoleAppender">
    	<layout class="ch.qos.logback.classic.PatternLayout">
    		<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</Pattern>
    	</layout>
    </appender>
    
  	<appender name="File-Appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
     	<File>${logpath:-logs}/gateway.log</File>
     	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
     		<fileNamePattern>${logpath:-logs}/gateway.%d{yyyy-MM-dd_HH}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
     	</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
      		<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} %M:%line - %msg%n</Pattern>
    	</layout>
	</appender>
  	
	<root level="INFO">
		<appender-ref ref="Stdout-Appender"/>
		<appender-ref ref="File-Appender"/>
	</root>
</configuration>
